<section id="wrapper" class="login-register login-sidebar">
  <div class="login-box2" style="height: 100%;background-image: url(assets/background.jpg);border: 0px !important; position: fixed">
  </div>
  <div class=" login-box card" style="border: 0px !important">
    <div class="card-body">
      <form class="form-horizontal form-material text-center" >
        <label style="font-size: 35px; padding-top: 50px">LINTELLECT</label><br>
        <label style="color:#CCC">Please complete to create your account.</label>
        <div class="card" style="border: 0px !important">
          <div class="card-body">
            <div class="row" style="padding: 5px">
              <div class="col-md-2"></div>
              <div class="col-md-4">
                <input type="text" name="username" id="username" class="form-control" placeholder="First Name">
              </div>
              <div class="col-md-4">
                <input type="text" name="username" id="username" class="form-control" placeholder="Last Name">
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding: 5px">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <input type="text" name="password" id="password" class="form-control" placeholder="User Name">
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding: 5px">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <input type="email" name="password" id="password" class="form-control" placeholder="Email">
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding: 5px">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding: 5px">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <input type="password" name="password" id="password" class="form-control" placeholder="Confirm Password">
              </div>
              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding:20px; text-align: left">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <input type="checkbox" name="remember" id="remember" /> I agree with terms and conditions
              </div>

              <div class="col-md-2"></div>
            </div>
            <div class="row" style="padding: 20px;">
              <div class="col-md-2"></div>
              <div class="col-md-8">
                <button type="submit" style="width: 50%" class="btn btn-primary" (click)="register()">Sign Up</button>
              </div>
              
              <div class="col-md-2"></div>
            </div>
            Already have an account? Sign in.
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
